global-include *.py
global-include *.txt
global-include *.pdf
global-include *.ps
global-include *.c
global-include Makefile
global-include makefile*
global-include *.v
prune dist
prune doc
graft doc/html/manual
#graft doc/html/icons
#graft doc/html/whatsnew*
include doc/paper-a4/MyHDL.pdf
include doc/paper-letter/MyHDL.pdf
prune myhdl/experiments
exclude myhdl/test/toVerilog/*.v
