global-include *.py
global-include *.txt
global-include *.pdf
global-include *.ps
global-include *.c
global-include Makefile
global-include makefile*
global-include *.v
global-include *.vhd
prune .hg
prune dist
prune doc
prune olddoc
prune myhdl/old_conversion
prune myhdl/*/work
prune myhdl/*/*/work
prune myhdl/*/*/*/work
prune myhdl/*/work_vlog
prune myhdl/*/*/work_vlog
prune myhdl/*/*/*/work_vlog
prune myhdl/*/work_vcom
prune myhdl/*/*/work_vcom
prune myhdl/*/*/*/work_vcom
graft doc/build/html
#include doc/paper-a4/MyHDL.pdf
#include doc/paper-letter/MyHDL.pdf
prune myhdl/experiments
exclude myhdl/test/conversion/*/*.v
exclude myhdl/test/conversion/*/*.vhd
