global-include *.py
global-include *.txt
global-include *.pdf
global-include *.ps
global-include *.c
global-include *.v
global-include Makefile
global-exclude .cvsignore
prune dist
prune doc
graft doc/html
exclude doc/html/.cvsignore
include doc/paper-a4/*.pdf
include doc/paper-a4/*.ps
include doc/paper-letter/*.pdf
include doc/paper-letter/*.ps
