config_webtalk -user off
create_project $project_name $project_path -part $part

set_property target_language $target_language [current_project]
add_files -norecurse {$xci_files $vhdl_files $verilog_files $ip_additional_hdl_files}

update_compile_order -fileset sources_1
update_compile_order -fileset sim_1
generate_target {simulation} [get_files {$xci_files}]
set_property -name {xsim.simulate.runtime} -value {${time}ns} -objects [current_fileset -simset]
launch_simulation
close_sim
close_project
